@font-face {
  font-family: 'Montserrat-Black';
  src: url('../font/Montserrat-Black.eot') format('embedded-opentype'),  url('../font/Montserrat-Black.otf')  format('opentype'),
	     url('../font/Montserrat-Black.woff') format('woff'), url('../font/Montserrat-Black.ttf')  format('truetype'), url('http://brandio.io/envato/hostio/html/fonts/montserrat/Montserrat-Black.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../font/Montserrat-Bold.eot') format('embedded-opentype'),  url('../font/Montserrat-Bold.otf')  format('opentype'),
	     url('../font/Montserrat-Bold.woff') format('woff'), url('../font/Montserrat-Bold.ttf')  format('truetype'), url('http://brandio.io/envato/hostio/html/fonts/montserrat/Montserrat-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-ExtraBold';
  src: url('../font/Montserrat-ExtraBold.eot') format('embedded-opentype'),  url('../font/Montserrat-ExtraBold.otf')  format('opentype'),
	     url('../font/Montserrat-ExtraBold.woff') format('woff'), url('../font/Montserrat-ExtraBold.ttf')  format('truetype'), url('http://brandio.io/envato/hostio/html/fonts/montserrat/Montserrat-ExtraBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Hairline';
  src: url('../font/Montserrat-Hairline.eot') format('embedded-opentype'),  url('../font/Montserrat-Hairline.otf')  format('opentype'),
	     url('../font/Montserrat-Hairline.woff') format('woff'), url('../font/Montserrat-Hairline.ttf')  format('truetype'), url('http://brandio.io/envato/hostio/html/fonts/montserrat/Montserrat-Hairline.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url('../font/Montserrat-Light.eot') format('embedded-opentype'),  url('../font/Montserrat-Light.otf')  format('opentype'),
	     url('../font/Montserrat-Light.woff') format('woff'), url('../font/Montserrat-Light.ttf')  format('truetype'), url('http://brandio.io/envato/hostio/html/fonts/montserrat/Montserrat-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../font/Montserrat-Regular.eot') format('embedded-opentype'),  url('../font/Montserrat-Regular.otf')  format('opentype'),
	     url('../font/Montserrat-Regular.woff') format('woff'), url('../font/Montserrat-Regular.ttf')  format('truetype'), url('http://brandio.io/envato/hostio/html/fonts/montserrat/Montserrat-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../font/Montserrat-SemiBold.eot') format('embedded-opentype'),  url('../font/Montserrat-SemiBold.otf')  format('opentype'),
	     url('../font/Montserrat-SemiBold.woff') format('woff'), url('../font/Montserrat-SemiBold.ttf')  format('truetype'), url('http://brandio.io/envato/hostio/html/fonts/montserrat/Montserrat-SemiBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-UltraLight';
  src: url('../font/Montserrat-UltraLight.eot') format('embedded-opentype'),  url('../font/Montserrat-UltraLight.otf')  format('opentype'),
	     url('../font/Montserrat-UltraLight.woff') format('woff'), url('../font/Montserrat-UltraLight.ttf')  format('truetype'), url('http://brandio.io/envato/hostio/html/fonts/montserrat/Montserrat-UltraLight.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}